* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    max-width: 260px;
    max-height: 480px;
    margin: 0 auto;
    
}

body {
    overflow: hidden;
    font-family: Ubuntu;
}

#menu {
    text-align: center;
    background: #a0bce0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 30vw;
    z-index: 10;
    max-width: 260px;
    max-height: 480px;
    margin: 0 auto;
}

#menu button {
    display: block;
    width: 20px;
    height: 20px;
    padding: 20px;
    margin: 10px auto;
    background: #d9e3f2;
    border: 1px solid;
    border-radius: 10px;
    color: #0000ff;
}

#game {
    z-index: 9;
}

#canvas {
    background: #28e2b4;
    position: fixed;
    width: 100vw;
    height: 70vh;
    top: 0;
    left: 0;
}

#deadline {
    position: fixed;
    width: 100vw;
    top: 70vh;
    left: 0;
    height: 5px;
}

#control {
    position: fixed;
    top: 70vh;
    left: 0;
    height: 20px;
    width: 20px;
    text-align: center;
    background: yellow;
}

#control button {
    width: 15px;
    height: 15px;
    border-radius: 70%;
    border: 1px solid;
    color: #0000ff;
    background: yellow;
    margin-left: 0vw;
    margin-right: 0vw;
}

#restart button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 80vw;
}
